body{
    background-color: #282b30;
    text-align: center;
    padding: 0px 0px 0px 0px;
    color: #ffffff;
}
#text{
    color: #ffffff;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}
#button{
    font-size: 60px;
    border-radius: 100px;
    padding: 10px 20px 10px 20px;
}
